*{
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     height:95vh;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

.header img{
    width: 5rem;
    height: 5rem;
}


.box{
    display: flex;
    flex-direction: row;
    row-gap: 2rem;
    column-gap: 1.2rem;
}


.form{
    display:flex;
    flex-direction: column;
}

.button-group{
    display:flex;
    flex-direction: column;
    justify-content:space-evenly ;
    }

    

input{
    width:18rem;
    height:3rem;
    border: 1px solid white;
   
    margin-top: 0.5rem;
}




button{
    width:18.4rem;
    font-size: 1.3rem;
    font-weight: 500;
    height:2.6rem;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 0.5rem;
    background-color: gray;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color:white;
    font-weight:700 ;
}

.button-group{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin-top: 0.4rem;
    text-align: center;
    justify-items: center;
}


.button-group a{

    padding: auto;
    margin: auto;
    width:18rem;
    height:2.3rem;
    border: 1px solid white;
    border-radius: 5px;
    background-color: gray;
}

 .button-group .Google{
    background: rgb(255, 116, 23);
    color: white;
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    }

.button-group .x{
    background: black;
    color:white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-group .Facebook{
    background-color: blue;
    color: white;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1.3rem;

    
}

.links a{
column-gap: 2rem;
color: white;
text-decoration: none;
margin-top: 1rem;
}


footer{
display: flex;
justify-self: space-evenly;
}


.footer img{
margin-top: 2rem;
width:2.5rem;
height: 3rem;
}

