body{
    background: #000;
}

.header-scroll{
    position: relative;
}
.navbar{
    position: absolute;
    top: 0;
}
.title{
    position: absolute;
    top: 10vh;
}
#main{
    position: relative;
    height: 450vh;
}

#page1{
    position: absolute;
    color: aqua;
    top: 50vh;
    height: 200vh;
}

#page1>#right{
    position: absolute;
    bottom: 50vh;
}

